<form action='/tanks/add' method='POST'>
<label>Name:</label>
<input type="text" name="name" id="name"> 
<button type="submit">submit</button>
<div><%= @errormsg %></div>
<a href='/tanks/list'>Back to List page</a>
</form>