<h1> Edit the List</h1>
<form action="/tanks/<%= @tanks.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<ul>
  
  <% @tanks.each do |tank| %>
  <li><%= tank.name%></li>
  <% end%>

</ul>

</form>