<h1> Edit the List</h1>
<form action="/tanks/<%= @tank.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">

  <label>Name:</label>
<input type="text" name="name" id="name" value="<%= @tank.name%>">
<button type="submit">submit</button>
  
  
</form>
