<h1>Welcome</h1>
<form>
<h2>Please pick from the list </h2>
<ul>
  <li>22: Rocky Reef</li>
  <li>23: Sandy Botton</li>
  <li>24: Lobster</li>
  <% @tanks.each do |tank| %>
  <li><%= tank.name%>
 ( <a href= "/tanks/<%= tank.id%>/edittank">edit</a>)</li>
  <% end%>

</ul>
<div><%=@errormsg%>
<a href="/tanks/addtank">Add New Tank</a>

<p><a href="/logout">Log Out</a></p>
</form>