<h2>Sign in Information</h2>
<form action="/users/show" method="POST">
Thank you for signing up for Tank-Census
<p>Username:<%= @user.username%></p>
 <a href='/tanks/list'>Please continue to the Tank List</a>
</form>