<header>
  <h1>Welcome to Cold Marine</h1>
  </header>
<h2>Please log in to view tanks</h2>

<% if @is_logged_in %>
  <div>Put links to tanks here</div>
<% else %>
  <p> Please log in or sign in  <a href="/users/signup">Sign Up</a> or <a href="/users/login">Log In</a> to continue.
<% end %>

<img src="https://www.neaq.org/wp-content/uploads/2016/06/2_3_X_GulfOfMaineExh.jpg" alt="Wolffish movees through exhibit">
